<header align="center">
		<h1>About Page</h1>

		<img src="http://static.gigapan.org/gigapans0/159739/images/159739-900x300.jpg" alt="charlotte skyline">
</header>

<section>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo illo animi consequatur error ab eum eius exercitationem suscipit. Incidunt culpa saepe a perspiciatis voluptatum laboriosam placeat possimus aspernatur recusandae inventore.</p>
</section>

<section>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque delectus quod quaerat, dicta, aliquid provident tempore perferendis reprehenderit ratione expedita dolor unde magni sit nobis odio molestiae laudantium doloremque voluptatem?</p>
</section>